# The server used
PORT=5000
NODE_ENV=development

EVALUATION_SERVICE_TOKEN=EVALUATION_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJnZWV0aGlrYV9nYXR0dUBzcm1hcC5lZHUuaW4iLCJleHAiOjE3Nzc2OTg4ODksImlhdCI6MTc3NzY5Nzk4OSwiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6Ijg0MzM5NjkzLWU1NWItNDMzMi1hNTlhLTM3YTc0MjgyZTdjZCIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6ImdlZXRoaWthIGdhdHR1Iiwic3ViIjoiYjIzMDNiYWEtMDIxZi00N2JiLWI1ZTctYzY1NjIwNjdkMjAyIn0sImVtYWlsIjoiZ2VldGhpa2FfZ2F0dHVAc3JtYXAuZWR1LmluIiwibmFtZSI6ImdlZXRoaWthIGdhdHR1Iiwicm9sbE5vIjoiYXAyMzExMDAxMTEyMiIsImFjY2Vzc0NvZGUiOiJRa2JweEgiLCJjbGllbnRJRCI6ImIyMzAzYmFhLTAyMWYtNDdiYi1iNWU3LWM2NTYyMDY3ZDIwMiIsImNsaWVudFNlY3JldCI6IlpWQm1YRWtBdUhKeE1jbmoifQ.qWfozRA9vml8IJ__tChmsX4OxAVr2HXEGH2x5aA2-Mc

# Database (Stage 2)
DB_TYPE=mongodb
DB_CONNECTION_STRING=mongodb://localhost:27017/affordmed_notifications

# Redis Cache (Stage 4)
REDIS_URL=redis://localhost:6379

# Queue Service (Stage 5)
QUEUE_TYPE=bull
QUEUE_URL=redis://localhost:6379

# Email Service (Stage 5)
EMAIL_SERVICE=sendgrid
SENDGRID_API_KEY=your_sendgrid_key

# Logging
LOG_API_ENDPOINT=http://20.207.122.201/evaluation-service/logs
